@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Inconsolata:wght@200&display=swap');

button{
    margin-top: 5px;
    border: 3px solid;
    border-radius: 20px;
    background-color: purple;
    color: white;
    border-color: black;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: blueviolet;
    border-color: purple;
    width: 20%;
    height: 25px;
}

nav{
    text-align: left;
    margin-bottom: 100px;
}

body{
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    background-image: linear-gradient(to right, #121126, #190840 60%);
    font-size: 20px;
}

input::placeholder, label, h1{
    color: greenyellow;
}

label{
    font-weight: bold;
}

input::placeholder{
    font-size: 12px;
}
