@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Inconsolata:wght@200&display=swap');

#opcoes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#dev, #player{
    background-color: purple;
    border: 5px solid;
    border-radius: 50px;
    border-color: purple;
    width: 400px;
    height: 100px;
    text-align: center
}
#opcoes{ 
    height: 80vh;
    background-image: linear-gradient(to right, #121126, #190840 60%)
}
a{
    color: white;
    text-decoration: none;
    font-size: 35px;
}
body{
    background-image: linear-gradient(to right, #121126, #190840 60%);
    font-family: 'Bruno Ace SC', cursive;
}